---
import "../styles/globals.css";
---

<div class='nav-links'>
    <a
        class='transition-all hover:bg-clip-text hover:text-transparent hover:bg-gradient-to-r hover:from-[#FF78F0] hover:to-[#F5EA5A]'
        href='/'>Home</a
    >
    <a
        class='transition-all hover:bg-clip-text hover:text-transparent hover:bg-gradient-to-r hover:from-[#FF78F0] hover:to-[#F5EA5A]'
        href='/about'>About</a
    >
    <a
        class='transition-all hover:bg-clip-text hover:text-transparent hover:bg-gradient-to-r hover:from-[#FF78F0] hover:to-[#F5EA5A]'
        href='/blog'>Blog</a
    >
    <a
        class='transition-all hover:bg-clip-text hover:text-transparent hover:bg-gradient-to-r hover:from-[#FF78F0] hover:to-[#F5EA5A]'
        href='/tags'>Tags</a
    >
</div>
